<nav class="navbar navbar-inverse navbar-expand-lg bg-dark" style="margin: 0px;">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="#0">Macondo Ecommerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngFor="let menu of listMenu">
          <li class="nav-item" *ngIf="menu.menus.length == 0">
            <a [routerLink]="menu.link" class="nav-link">
              <i class="material-icons">{{ menu.imagen }}</i>
              {{ menu.nombre }}
            </a>
          </li>
          <li class="dropdown nav-item" *ngIf="menu.menus.length > 0">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">{{ menu.imagen }}</i> {{ menu.nombre }}
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <ng-container *ngFor="let submenu of menu.menus">
                <a [routerLink]="submenu.link" class="nav-link">
                  {{ submenu.nombre }}
                </a>
              </ng-container>
            </div>
          </li>
        </ng-container>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">person</i> Perfil
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <h6 class="dropdown-header">Miguel Eduardo Gutierrez</h6>
            <a href="#ajustes" class="nav-link">
              Ajustes
            </a>
            <div class="dropdown-divider"></div>
            <a href="#logout" class="nav-link">Cerrar Sesion</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>