<app-banner></app-banner>
<div class="blog-posts sidebar-collapse" style="margin-top: 40px;">
    <div class="main main-raised">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <ul class="nav nav-pills nav-pills-primary">
                            <li class="nav-item">
                                <a class="nav-link active" href="#pill1" data-toggle="tab">Todo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill2" data-toggle="tab">Mundo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Decoración</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Moda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Tecnologia</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="pill1"></div>
                            <div class="tab-pane" id="pill2"></div>
                            <div class="tab-pane" id="pill3"></div>
                            <div class="tab-pane" id="pill4"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-raised card-background"
                            style="background-image: url('../assets/img/examples/office2.jpg')">
                            <div class="card-body">
                                <h6 class="card-category text-info">Mundo</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">
                                        Las mejores aplicaciones de productividad del mercado
                                    </h3>
                                </a>
                                <p class="card-description">
                                    No tengas miedo de la verdad porque necesitamos reiniciar la base humana en la
                                    verdad. Y te amo como Kanye ama a Kanye. Amo el diseño de la cama de Rick Owens,
                                    pero la parte de atrás es...
                                </p>
                                <a href="#pablo" class="btn btn-danger btn-round">
                                    <i class="material-icons">format_align_left</i> Ver productos
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-raised card-background"
                            style="background-image: url('../assets/img/examples/blog8.jpg')">
                            <div class="card-body">
                                <h6 class="card-category text-info">Decoración</h6>
                                <h3 class="card-title">Dale el toque que le falta a tu hogar u oficina</h3>
                                <p class="card-description">
                                    Los mejores productos para decoración y estructuracion de hogar u oficina los
                                    encuentras aquí, ven...
                                </p>
                                <a href="#pablo" class="btn btn-primary btn-round">
                                    <i class="material-icons">format_align_left</i> Ver productos
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-raised card-background"
                            style="background-image: url('../assets/img/examples/card-project6.jpg')">
                            <div class="card-body">
                                <h6 class="card-category text-info">Ventas</h6>
                                <h3 class="card-title">0 to 100.000 Clientes in 6 months</h3>
                                <p class="card-description">
                                    Da el paso que quieres al comprar, sin tener miedo a las compras online, muchos de
                                    nuestros clientes ya realizan sus compras mediante nuestra app..
                                </p>
                                <a href="#pablo" class="btn btn-warning btn-round">
                                    <i class="material-icons">subject</i> Ver
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-last-offers></app-last-offers>
            <div class="section">
                <h3 class="title text-center">You may also be interested in</h3>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="../assets/img/bg5.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">Enterprise</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                                </h4>
                                <p class="card-description">
                                    Like so many organizations these days, Autodesk is a company in transition. It was
                                    until recently a traditional boxed software company selling licenses.<a
                                        href="#pablo"> Read More </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="../assets/img/examples/blog5.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-success">
                                    Startups
                                </h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Lyft launching cross-platform service this week</a>
                                </h4>
                                <p class="card-description">
                                    Like so many organizations these days, Autodesk is a company in transition. It was
                                    until recently a traditional boxed software company selling licenses.<a
                                        href="#pablo"> Read More </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="../assets/img/examples/blog6.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-danger">
                                    <i class="material-icons">trending_up</i> Enterprise
                                </h6>
                                <h4 class="card-title">
                                    <a href="#pablo">6 insights into the French Fashion landscape</a>
                                </h4>
                                <p class="card-description">
                                    Like so many organizations these days, Autodesk is a company in transition. It was
                                    until recently a traditional boxed software company selling licenses.<a
                                        href="#pablo"> Read More </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>