<div class="section">
    <div class="container">
        <h2 class="section-title">Grandes Ofertas</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-header card-header-image">
                        <a routerLink="productos">
                            <img src="../assets/img/examples/gucci.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            <a href="#pablo">Gucci</a>
                        </h4>
                        <p class="card-description">Los hombros estructurados y los elegantes detalles garantizan una
                            silueta adecuada. Combínalo con un pañuelo de bolsillo de seda y mocasines de cuero.</p>
                    </div>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old"> $450.000</span>
                            <span class="price price-new"> $299.999</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-header card-header-image">
                        <a routerLink="productos">
                            <img src="../assets/img/examples/dolce.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Dolce &amp; Gabbana</h4>
                        <p class="card-description">Los hombros estructurados y los elegantes detalles garantizan una
                            silueta adecuada. Combínalo con un pañuelo de bolsillo de seda y mocasines de cuero.</p>
                    </div>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old">$549.500</span>
                            <span class="price price-new">€459.999</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-header card-header-image">
                        <a routerLink="productos">
                            <img src="../assets/img/examples/tom-ford.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Dolce &amp; Gabbana</h4>
                        <p class="card-description">Los hombros estructurados y los elegantes detalles garantizan una
                            silueta adecuada. Combínalo con un pañuelo de bolsillo de seda y mocasines de cuero.</p>
                    </div>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old">$599.900</span>
                            <span class="price price-new">€489.999</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>