<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <ng-container *ngFor="let banner of listBanner">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ng-container>
    </ol>
    <div class="carousel-inner">
        <ng-container *ngFor="let banner of listBanner">
            <div class="carousel-item  {{ banner.posicion == 0 ? 'active' : '' }}">
                <div class="page-header header-filter"
                    style="height: 400px; background-image: url('{{ banner.imagenPrincipal }}');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 ml-auto text-right">
                                <h1 class="title">{{ banner.titulo }}</h1>
                                <h4>{{ banner.descripcion }}</h4>
                                <br>
                                <div class="buttons" *ngIf="banner.link != null && banner.nombreBoton != null">
                                    <a href="#pablo" class="btn btn-danger btn-lg">
                                        <i class="material-icons">shopping_cart</i> Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="material-icons">keyboard_arrow_left</i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="material-icons">keyboard_arrow_right</i>
        <span class="sr-only">Next</span>
    </a>
</div>