<div class="product-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" filter-color="rose"
        style="background-image: url('../assets/img/bg6.jpg');">
        <div class="container">
            <div class="row title-row">
                <div class="col-md-4 ml-auto">
                    <button class="btn btn-white float-right"><i class="material-icons">shopping_cart</i> 0
                        Items</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="main main-raised main-product col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="tab-content">
                            <div class="tab-pane" id="product-page1">
                                <img src="../assets/img/examples/product1.jpg">
                            </div>
                            <div class="tab-pane active" id="product-page2">
                                <img src="../assets/img/examples/product2.jpg">
                            </div>
                            <div class="tab-pane" id="product-page3">
                                <img src="../assets/img/examples/product3.jpg">
                            </div>
                            <div class="tab-pane" id="product-page4">
                                <img src="../assets/img/examples/product4.jpg">
                            </div>
                        </div>
                        <ul class="nav flexi-nav" data-tabs="tabs" id="flexiselDemo1">
                            <li class="nav-item">
                                <a href="#product-page1" class="nav-link" data-toggle="tab">
                                    <img src="../assets/img/examples/product1.jpg">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#product-page2" class="nav-link" data-toggle="tab">
                                    <img src="../assets/img/examples/product2.jpg">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#product-page3" class="nav-link" data-toggle="tab">
                                    <img src="../assets/img/examples/product3.jpg">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#product-page4" class="nav-link" data-toggle="tab">
                                    <img src="../assets/img/examples/product4.jpg">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Nombre del producto</label>
                            <input type="text" class="form-control" id="product" value="Becky Silk Blazer"
                                placeholder="Nombre del Producto">
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="exampleFormControlInput1">Valor</label>
                                <input type="number" class="form-control" id="product" value="50000"
                                    placeholder="Valor del producto">
                            </div>
                            <div class="col form-group">
                                <label for="exampleFormControlInput1">Iva</label>
                                <input type="number" class="form-control" id="product" value="19"
                                    placeholder="Iva del producto">
                            </div>
                        </div>
                        <div id="accordion" role="tablist">
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Descripcion
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <textarea class="form-control" name="" id="" cols="30" rows="10"
                                            placeholder="Describe tu producto"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            Designer Information
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        An infusion of West Coast cool and New York attitude, Rebecca Minkoff is
                                        synonymous
                                        with It girl style. Minkoff burst on the fashion scene with her best-selling
                                        &apos;Morning After Bag&apos; and later expanded her offering with the Rebecca
                                        Minkoff Collection - a range of luxe city staples with a &quot;downtown
                                        romantic&quot; theme.
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            Details and Care
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li>Storm and midnight-blue stretch cotton-blend</li>
                                            <li>Notch lapels, functioning buttoned cuffs, two front flap pockets, single
                                                vent, internal pocket</li>
                                            <li>Two button fastening</li>
                                            <li>84% cotton, 14% nylon, 2% elastane</li>
                                            <li>Dry clean</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pick-size">
                            <div class="col-md-6 col-sm-6">
                                <label>Select color</label>
                                <select class="selectpicker" data-style="select-with-transition" data-size="7">
                                    <option value="1">Rose </option>
                                    <option value="2">Gray</option>
                                    <option value="3">White</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Select size</label>
                                <select class="selectpicker" data-style="select-with-transition" data-size="7">
                                    <option value="1">Small </option>
                                    <option value="2">Medium</option>
                                    <option value="3">Large</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pull-right">
                            <button class="btn btn-rose btn-round">Add to Cart &#xA0;<i
                                    class="material-icons">shopping_cart</i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>