<div class="ecommerce-page sidebar-collapse">
    <div class="page-header header-filter header-small" data-parallax="true"
        style="background-image: url('../assets/img/examples/clark-street-merc.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <div class="brand">
                        <h1 class="title">Ecommerce!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised" style="margin-top: -20px;">
        <app-last-offers></app-last-offers>
        <div class="section">
            <div class="container">
                <h2 class="section-title">Busca lo que necesitas</h2>
                <div class="row">
                    <div class="col-md-3">
                        <app-search-filters></app-search-filters>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <ng-container *ngFor="let product of listProducts">
                                <div class="col-md-4">
                                    <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                        <div class="card-header card-header-image">
                                            <a routerLink="{{product.id}}/{{product.descripcion}}/{{product.id}}">
                                                <img src="{{ product.imagenesProduct[0].url }}" alt="...">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">{{ product.descripcion }}</h4>
                                            </a>
                                            <p class="description">
                                                {{ product.descripcion }}
                                            </p>
                                        </div>
                                        <div class="card-footer justify-content-between">
                                            <div class="price-container">
                                                <span class="price"> $ {{ product.valorNeto }}</span>
                                            </div>
                                        </div>
                                    </div> <!-- end card -->
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-md-3 ml-auto mr-auto">
                            <button rel="tooltip" class="btn btn-rose btn-round" data-original-title="" title="">Ver
                                mas...</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div><!-- section -->
    </div> <!-- end-main-raised -->
</div>