<div class="product-page sidebar-collapse" *ngIf="product != null && viewProduct">
    <div class="page-header header-filter" data-parallax="true" filter-color="rose"
        style="background-image: url('../assets/img/bg6.jpg');">
        <div class="container">
            <div class="row title-row">
                <div class="col-md-4 ml-auto">
                    <button class="btn btn-white float-right"><i class="material-icons">shopping_cart</i>
                        {{ product.stock }}
                        Items</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section" style="padding: 70px 0 !important;">
        <div class="container">
            <div class="main main-raised main-product col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="tab-content">
                            <ng-container *ngFor="let image of product.imagenesProduct">
                                <div class="tab-pane {{ image.principal ? 'active' : '' }}"
                                    id="product-page{{image.id}}">
                                    <img src="{{ image.url }}">
                                </div>
                            </ng-container>
                        </div>
                        <ul class="nav flexi-nav" data-tabs="tabs" id="flexiselDemo1">
                            <ng-container *ngFor="let image of product.imagenesProduct">
                                <li class="nav-item">
                                    <a href="#product-page{{image.id}}" class="nav-link" data-toggle="tab">
                                        <img src="{{ image.url }}">
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h2 class="title"> {{ product.descripcion }} </h2>
                        <h3 class="main-price">${{ product.valorNeto }}</h3>
                        <div id="accordion" role="tablist">
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Descripción
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>{{ product.descripcion }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            Detalles y Cuidados
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li>Solapas de muesca, puños abotonados funcionales, dos bolsillos
                                                delanteros con solapa, abertura única, bolsillo interno</li>
                                            <li>Cierre con dos botones</li>
                                            <li>84% algodón, 14% nailon, 2% elastano</li>
                                            <li>Lavado en seco</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pick-size">
                            <div class="col-md-6 col-sm-6">
                                <label>Seleccione Color</label>
                                <select class="selectpicker" data-style="select-with-transition" data-size="1">
                                    <option value="1">{{ product.color.nombre }}</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label>Seleccione Tamaño</label>
                                <select class="selectpicker" data-style="select-with-transition" data-size="1">
                                    <option value="1">{{ product.talla.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pull-right">
                            <button class="btn btn-rose btn-round">Agregar al Carrito &#xA0;<i
                                    class="material-icons">shopping_cart</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="related-products">
                <h3 class="title text-center">You may also be interested in:</h3>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../assets/img/examples/card-product1.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Trending</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Dolce &amp; Gabbana</a>
                                </h4>
                                <div class="card-description">
                                    Dolce &amp; Gabbana's 'Greta' tote has been crafted in Italy from hard-wearing red
                                    textured-leather.
                                </div>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price">
                                    <h4>$1,459</h4>
                                </div>
                                <div class="stats">
                                    <button type="button" rel="tooltip" title="Saved to Wishlist"
                                        class="btn btn-just-icon btn-link btn-rose">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../assets/img/examples/card-product3.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-muted">Popular</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Balmain</a>
                                </h4>
                                <div class="card-description">
                                    Balmain's mid-rise skinny jeans are cut with stretch to ensure they retain their
                                    second-skin fit but move comfortably.
                                </div>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price">
                                    <h4>$459</h4>
                                </div>
                                <div class="stats">
                                    <button type="button" rel="tooltip" title="Save to Wishlist"
                                        class="btn btn-just-icon btn-link">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../assets/img/examples/card-product4.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-muted">Popular</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Balenciaga</a>
                                </h4>
                                <div class="card-description">
                                    Balenciaga's black textured-leather wallet is finished with the label's iconic
                                    'Giant'
                                    studs. This is where you can...
                                </div>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price">
                                    <h4>$590</h4>
                                </div>
                                <div class="stats">
                                    <button type="button" rel="tooltip" title=""
                                        class="btn btn-just-icon btn-link btn-rose"
                                        data-original-title="Saved to Wishlist">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="#pablo">
                                    <img class="img" src="../assets/img/examples/card-product2.jpg">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-rose">Trending</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Dolce &amp; Gabbana</a>
                                </h4>
                                <div class="card-description">
                                    Dolce &amp; Gabbana's 'Greta' tote has been crafted in Italy from hard-wearing red
                                    textured-leather.
                                </div>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price">
                                    <h4>$1,459</h4>
                                </div>
                                <div class="stats">
                                    <button type="button" rel="tooltip" title=""
                                        class="btn btn-just-icon btn-link btn-default"
                                        data-original-title="Save to Wishlist">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>